.lesson-pic {
  overflow: hidden;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.sidebar {
  display: none;
}

img {
  height: 13rem;
}

@media (min-width: 1024px) {
  .sidebar {
    background-color: rgb(186, 212, 197);
    width: 16%;
    height: 100%;
    box-shadow: 0.2rem 0 0.5rem rgb(131, 131, 131);
    border-right: solid 0.2rem rgb(171, 204, 184);
    display: block;
    padding: 1rem;
  }
}
