.lessons {
  background-color: rgb(216, 250, 230);
  min-height: calc(100vh - 4.2rem);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 25rem));
  grid-auto-rows: 15rem;
  gap: 3rem;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  justify-content: center;
}
.status-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.message{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: .2rem solid black;
  border-radius: 2rem;
  width: 75%;
  height: 50%;
  padding: 1rem;
}
