.controls {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.controls button {
  padding: .3rem;
  border-radius: 1.4rem;
  cursor: pointer;
  font-weight: bolder;
  font-size: large;
  margin-top: 2rem;
  max-width: 10rem;
}

.controls button:hover {
  background-color: rgb(226, 225, 225);
  transition-duration: 150ms;
}

.control {
  font-weight: bold;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #686868;
}

.control input {
  padding: .3rem;
  border-radius: .3rem;
  background-color: rgb(231, 230, 230);
  max-width: 20rem;
}

.control textarea {
  resize: none;
  height: 10rem;
  scroll-behavior: auto;
}

.invalid {
  background-color: rgb(253, 207, 207) !important;
}

.warning {
  text-align: center;
  margin: 1rem;
  color: red;
}

@media (min-width: 1024px) {
  .files {
    display: flex;
    justify-content: space-between;
  }
}