.lesson {
  background-color: whitesmoke;
  border: 2px solid black;
  overflow: hidden;
  display: flex;
  height: 8.5rem;
}

.lesson img {
  height: 8.5rem;
  background-size: cover;
  vertical-align: bottom;
}

.lesson h2,
h3 {
  font-family: "Ubuntu", sans-serif;
  color: black;
  font-size: medium;
}

.lesson p {
  font-family: "Ubuntu", sans-serif;
  color: rgb(73, 73, 73) !important;
  padding: 0.5rem;
  font-size: small;
}

.info {
  padding: 1rem;
}

@media only screen and (min-width: 1078px) {
  .lesson h2,
  h3 {
    font-size: large;
  }
  .lesson p {
    font-size: medium;
  }
}
