.lesson {
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: 10px;
  margin: 20px;
  overflow: hidden;
  display: flex;
}

.lesson img {
  height: 15rem;
  background-size: cover;
  vertical-align: bottom;
}

.lesson h2 {
  font-family: "Ubuntu", sans-serif;
}

.lesson p {
  font-family: "Ubuntu", sans-serif;
  color: rgb(73, 73, 73);
  padding: .5rem;
}

.info {
  padding: 1rem;
}
