.lesson {
  background-color: rgb(255, 255, 255);
  border: 0.2rem solid black;
  overflow: hidden;
  display: flex;
}

.lesson img {
  width: 8rem;
  background-size: cover;
  vertical-align: bottom;
  border-right: solid black 0.2rem;
  border-bottom: solid black 0.2rem;
}

.lesson h2,
h3 {
  font-family: "Ubuntu", sans-serif;
  color: black;
  font-size: large;
}

.info {
  padding: 1rem;
  max-height: 100%;
  position: relative;
}

.level {
  padding: .6rem;
  font-size: medium;
  flex-shrink: 1;
}

.info:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(transparent 5rem, rgb(255, 255, 255));
  overflow: hidden;
}

.description {
  font-family: "Ubuntu", sans-serif;
  color: rgb(73, 73, 73) !important;
  padding: 0.5rem;
  font-size: medium;
  overflow: hidden;
}
