.nav-backdrop {
  background-color: rgb(80, 52, 80);
  width: 100vw;
  height: 4.2rem;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 0.7rem;
}

.menu {
  display: flex;
  justify-content: center;
}

.logo-text {
  color: rgb(207, 207, 207);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10.5rem;
  font-size: large;
}

.dropdown-btn {
  display: inline;
  font-size: 250%;
}

.dropdown-links {
  border-top: .1rem solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(80, 52, 80);
  width: 100%;
  padding: 1rem;
}

.dropdown-link {
  padding: 0.5rem;
}

.links {
  display: none;
}

.grower {
  flex-grow: 1;
}

.btn {
  display: none;
}

.links a:link,
.dropdown-links a:link {
  font-family: "Ubuntu", sans-serif;
  font-size: large;
  margin: auto;
  margin-left: 1rem;
  margin-right: 1rem;
  text-decoration: none;
  color: rgb(207, 207, 207);
}

.links a:visited,
.dropdown-links a:visited {
  color: rgb(207, 207, 207);
}

.links a:hover,
.links a:active,
.dropdown-links a:hover,
.dropdown-links a:active {
  padding-bottom: 0.2rem;
  color: rgb(255, 255, 255);
}

.links a.active,
.dropdown-links a.active {
  padding-bottom: 0.2rem;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid whitesmoke;
}

@media (min-width: 768px) {
  .dropdown-links {
    display: none !important;
  }

  .btn {
    background-color: rgb(207, 207, 207);
    border: 1px solid black;
    padding: 0.7rem;
    font-family: "Ubuntu", sans-serif;
    font-size: large;
    border-radius: 0.4rem;
    cursor: pointer;
    color: black;
    display: inline;
  }

  .btn:hover,
  .btn:active {
    background-color: whitesmoke;
  }
  .links {
    display: flex;
    justify-content: space-evenly;
    margin-right: 2rem;
  }

  .logo-text {
    font-family: "Righteous", Arial, Helvetica, sans-serif;
    color: rgb(207, 207, 207);
    display: flex;
    justify-content: space-between;
    width: 13.5rem;
    font-size: x-large;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;  
  }
  .dropdown-btn {
    display: none;
  }
}
