@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Ubuntu:wght@500&display=swap");

* {
  box-sizing: border-box;
}

.nav-backdrop {
  background-color: rgb(80, 52, 80);
  width: 100vw;
  height: 65px;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 1rem;
}

.menu {
  display: flex;
  justify-content: center;
}

.logo-text {
  font-family: "Righteous", cursive;
  color: rgb(207, 207, 207);
  display: flex;
  justify-content: space-between;
  width: 210px;
  font-size: x-large;
}

.links {
  display: flex;
  justify-content: space-evenly;
  font-family: "Ubuntu", sans-serif;
  color: rgb(207, 207, 207);
}

.links a:link {
  font-size: large;
  margin: auto;
  margin-left: 1rem;
  margin-right: 1rem;
  text-decoration: none;
}

.links a:visited {
  text-decoration: none;
  color: rgb(207, 207, 207);
}

.links a:hover,
.links a:active {
  padding-bottom: 0.2rem;
  color: rgb(255, 255, 255);
}

.links a.active
 {
  padding-bottom: 0.2rem;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid whitesmoke;
}

.grower {
  flex-grow: 1;
}
