.card {
  width: 90%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .card {
    width: 75%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .card {
    width: 50%;
  }
}
